<!DOCTYPE html>
{% load static %}
    <head>
        <title>Scrumboard Demo</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body ng-app="scrumboard.demo">
        <ng-view></ng-view>
        <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
        <script src ="{% static 'js/scrumboard.js' %}"></script>
        <script src ="{% static 'js/scrumboard.config.js' %}"></script>
        <script src ="{% static 'js/card.directive.js' %}"></script>
        <script src ="{% static 'js/login.controller.js' %}"></script>
        <script src ="{% static 'js/login.service.js' %}"></script>

    </body>
        <!--Scope is dependancy. Second argument of controller method is list of dependencies
        // and last item is actual controller function

        // Function defines some data as an example (MODEL) -->
</html>